body {
    font-family: Poppins;
}

ul li {
	display: inline;
}

#check:hover {
	opacity: 0.7;
}

.btnAjuda {
    background-color:#4682B4; 
    color: white;
}

.btnAjuda:hover {
    box-shadow: 1px 1px 3px 3px grey;
}